*.cproject
.project
*.xml
*.suo
AdvancedProgramming.sln
*.db
AdvancedProgramming.VC.VC.opendb
*.vcxproj
AdvancedProgramming.vcxproj.filters
*.lastbuildstate
Debug/Advanced.75E10AB2.tlog/CL.command.1.tlog
*.tlog
Debug/AdvancedProgramming.Build.CppClean.log
*.exe
*.log
Debug/AdvancedProgramming.pdb
*.ilk
AdvancedProgramming.vcxproj.user
*.obj
Debug/vc140.idb
*.pdb
*.sboard
clean_movesA.attack-a
*.attack-b
*.dll
*.exp
x64/Debug/AlgoSmart.lib
*.idb
x64/Release/AlgoSmart.exp
*.cache
x64/Debug/vc140.idb
*.idb
x64/Release/AlgoSmart.exp
/x64/Release/Common.lib
/x64/Release/AlgoSmart.lib
/x64/Release/AlgoSmart.ipdb
/x64/Release/AlgoSmart.iobj
*.enc
