*.cproject
.project
*.xml
*.suo
AdvancedProgramming.sln
*.db
AdvancedProgramming.VC.VC.opendb
*.vcxproj
AdvancedProgramming.vcxproj.filters
*.lastbuildstate
Debug/Advanced.75E10AB2.tlog/CL.command.1.tlog
*.tlog
Debug/AdvancedProgramming.Build.CppClean.log
*.exe
*.log
Debug/AdvancedProgramming.pdb
*.ilk
AdvancedProgramming.vcxproj.user
*.obj
Debug/vc140.idb
*.pdb